body {
  font-family: "Nunito", sans-serif;
}

a.item {
  text-decoration: none;
}
.appBottomMenu {
  display: flex; /* Habilita flexbox */
  flex-direction: row; /* Asegura que los hijos estén en fila */
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
}

.appBottomMenu .item {
  text-decoration: none;
  margin-right: 0.5rem; /* Añade un margen a la derecha de cada elemento, ajusta según tus necesidades */
}

/* Asegúrate de quitar el margen derecho al último elemento */
.appBottomMenu .item:last-child {
  margin-right: 0; /* Elimina el margen derecho del último elemento */
}

p {
  font-weight: 300;
  color: #4b4b4b;
  font-size: 14px;
}

ol {
  list-style-type: upper-alpha;
}

/* Additional styles for other elements can go here */
body {
  background-color: #edede9;
  font-family: "Nunito", sans-serif;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#input,
#output {
  width: 48%;
  margin: 1%;
  padding: 20px;
  border: 1px solid white;
  box-sizing: border-box;
  height: 90vh; /* Adjust height as per your preference */
  overflow: auto;
}
#input {
  font-family: "Nunito", monospace;
  font-size: 16px;
}
#output {
  font-size: 16px;
  background-color: white;
}

h1 {
  font-weight: 300;
  color: #4b4b4b;
  font-size: 34px;
}
h2 {
  font-weight: 300;
  color: #4b4b4b;
  font-size: 26px;
}

h6 {
  font-weight: 300;
  color: #4b4b4b;
  font-size: 13px;
  text-transform: uppercase;
  padding: 0px;
  margin: 0px;
}

mark {
  background-color: #cae9ff; /* Change this to your preferred highlight color */
  padding: 3px;
}

.navbar-brand img {
  border-radius: 50%; /* Make the image a circle */
  width: 200px; /* Set a fixed width */
  height: 200px; /* Set a fixed height */
}

/* Style for all tables */
table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse; /* Added for better border handling */
}

/* Default Style for 6 columns */
table th,
table td {
  display: table-cell;
}

/* Style for table headers and cells */
th,
td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

/* Header row style */
thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

/* Apply alternate background color for striped effect on odd rows */
tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

/* Style for table rows */
tbody tr:hover {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.075);
}
alert-primary .alert-title {
  color: #fff;
}

.alert-primary .close {
  color: #fff;
}

.alert-outline-primary {
  background: transparent;
  color: #1e74fd;
  border: 1px solid #1e74fd;
}

.alert-outline-primary a {
  color: #1e74fd !important;
  text-decoration: underline !important;
}

.alert-outline-primary .alert-title {
  color: #1e74fd;
}

.alert-outline-primary .btn-close {
  color: #1e74fd;
  opacity: 1;
}

.alert-outline-primary .btn-close:before,
.alert-outline-primary .btn-close:after {
  background: #1e74fd;
}

.alert-secondary {
  background: #6c7c94;
  color: #fff;
  border: 1px solid #6c7c94;
}

.alert-secondary a {
  color: #fff !important;
  text-decoration: underline;
}

.alert-secondary .alert-title {
  color: #fff;
}

.alert-secondary .close {
  color: #fff;
}

.alert-outline-secondary {
  background: transparent;
  color: #6c7c94;
  border: 1px solid #6c7c94;
}

.alert-outline-secondary a {
  color: #6c7c94 !important;
  text-decoration: underline !important;
}

.alert-outline-secondary .alert-title {
  color: #6c7c94;
}

.alert-outline-secondary .btn-close {
  color: #6c7c94;
  opacity: 1;
}

.alert-outline-secondary .btn-close:before,
.alert-outline-secondary .btn-close:after {
  background: #6c7c94;
}

.alert-success {
  background: #34c759;
  color: #fff;
  border: 1px solid #34c759;
}

.alert-success a {
  color: #fff !important;
  text-decoration: underline;
}

.alert-success .alert-title {
  color: #fff;
}

.alert-success .close {
  color: #fff;
}

.alert-outline-success {
  background: transparent;
  color: #34c759;
  border: 1px solid #34c759;
}

.alert-outline-success a {
  color: #34c759 !important;
  text-decoration: underline !important;
}

.alert-outline-success .alert-title {
  color: #34c759;
}

.alert-outline-success .btn-close {
  color: #34c759;
  opacity: 1;
}

.alert-outline-success .btn-close:before,
.alert-outline-success .btn-close:after {
  background: #34c759;
}

.alert-danger {
  background: #ec4433;
  color: #fff;
  border: 1px solid #ec4433;
}

.alert-danger a {
  color: #fff !important;
  text-decoration: underline;
}

.alert-danger .alert-title {
  color: #fff;
}

.alert-danger .close {
  color: #fff;
}

.alert-outline-danger {
  background: transparent;
  color: #ec4433;
  border: 1px solid #ec4433;
}

.alert-outline-danger a {
  color: #ec4433 !important;
  text-decoration: underline !important;
}

.alert-outline-danger .alert-title {
  color: #ec4433;
}

.alert-outline-danger .btn-close {
  color: #ec4433;
  opacity: 1;
}

.alert-outline-danger .btn-close:before,
.alert-outline-danger .btn-close:after {
  background: #ec4433;
}

.alert-warning {
  background: #fe9500;
  color: #fff;
  border: 1px solid #fe9500;
}

.alert-warning a {
  color: #fff !important;
  text-decoration: underline;
}

.alert-warning .alert-title {
  color: #fff;
}

.alert-warning .close {
  color: #fff;
}

.alert-outline-warning {
  background: transparent;
  color: #fe9500;
  border: 1px solid #fe9500;
}

.alert-outline-warning a {
  color: #fe9500 !important;
  text-decoration: underline !important;
}

.alert-outline-warning .alert-title {
  color: #fe9500;
}

.alert-outline-warning .btn-close {
  color: #fe9500;
  opacity: 1;
}

.alert-outline-warning .btn-close:before,
.alert-outline-warning .btn-close:after {
  background: #fe9500;
}

.alert-info {
  background: #592bca;
  color: #fff;
  border: 1px solid #592bca;
}

.alert-info a {
  color: #fff !important;
  text-decoration: underline;
}

.alert-info .alert-title {
  color: #fff;
}

.alert-info .close {
  color: #fff;
}

.alert-outline-info {
  background: transparent;
  color: #592bca;
  border: 1px solid #592bca;
}

.alert-outline-info a {
  color: #592bca !important;
  text-decoration: underline !important;
}

.alert-outline-info .alert-title {
  color: #592bca;
}

.alert-outline-info .btn-close {
  color: #592bca;
  opacity: 1;
}

.alert-outline-info .btn-close:before,
.alert-outline-info .btn-close:after {
  background: #592bca;
}

.alert-light {
  background: #fff;
  color: #141515;
}

.alert-dark {
  background: #333;
  color: #fff;
}

.alert-dark a {
  color: #fff !important;
  text-decoration: underline !important;
}

.alert-outline-dark {
  background: transparent;
  color: #333;
  border: 1px solid #333;
}

.adbox {
  text-align: center;
}

.adbox.fixed {
  position: fixed;
  bottom: 56px;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  z-index: 100;
  padding-bottom: env(safe-area-inset-bottom);
}

.adbox.fixed .closebutton {
  width: 24px;
  height: 24px;
  font-size: 22px;
  background: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
}

.adbox.hide.fixed {
  bottom: -100%;
}

.adbox-300-50 img {
  width: 300px;
  height: 50px;
}

.adbox-300-250 img {
  width: 300px;
  height: 250px;
}

/* Medium screens: Display 4 columns */
@media screen and (max-width: 1024px) {
  table th:nth-child(n + 5),
  table td:nth-child(n + 5) {
    display: none;
  }
}

/* Small screens: Display 2 columns */
@media screen and (max-width: 768px) {
  table th:nth-child(n + 3),
  table td:nth-child(n + 3) {
    display: none;
  }
}

/* Extra Small screens: Display 1 column */
@media screen and (max-width: 480px) {
  table th:nth-child(n + 2),
  table td:nth-child(n + 2) {
    display: none;
  }
}
